@use './variables' as *;

/****** WIDE - 1440px+ ******/

@media only screen and (1441px <= width) {
   
}

/****** DESKTOP - 1025PX -> 1440px ******/

@media only screen and (1025px <= width <= 1440px) {
    
}

/****** TABLET (LARGE) - 745px --> 1024px ******/

@media only screen and (745px <= width <= 1024px) {
   
}

/****** TABLET (SMALL) - 376px --> 744px ******/

@media only screen and (376px <= width <= 744px) {
    
}

@media only screen and (width <= 600px) {
    
}

/****** MOBILE - 0px -> 375px ******/

@media only screen and (width <= 375px) {
    .HeroSection {
        display: flex;
        flex-direction: column;
        padding: 24px;
        .TopSection {
            display: flex;
            flex-direction: column;
            .LeftContent {
                @extend .TopSection;
                .LeftContentText {
                    @extend .TopSection;
                    align-items: center;
                    h2 {
                        text-align: center;
                    }
                    .HeroCTASection {
                        @extend .LeftContentText;
                    }
                }
            }
        }
        .SummaryContentList {
            flex-direction: column;
        }
    }
}