@use './variables' as *;

/****** WIDE - 1440px+ ******/

@media only screen and (1441px <= width) {
    .HeroSection {
        display: inline-grid;
        .TopSection {
            display: grid;
            grid-template-columns: auto auto;
            height: 556px;
            width: 1107px;
            margin: 0 auto;
            .LeftContent {
                height: 288px;
                .LeftContentText {
                    width: 457px;
                    h1 {
                        font-size: 56px;
                        font-weight: 900;
                        line-height: 60px;
                        letter-spacing: -1px;
                        padding-bottom: 24px;
                    }
                    h2 {
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 28px;
                        padding-bottom: 40px;
                    }
                }
                .HeroCTASection {
                    display: flex;
                    align-items: center;
                    > p {
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 20px;
                        padding-left: 20px;
                    }
                }
            }
        }
        .SummaryContent {
            height: 256px;
            .SummaryContentList {
                width: 1112px;
                margin: 0 auto;
                li > div {
                    padding-bottom: 16px;
                }
            }
        }
        .LeftContent,
        .RightContent {
            height: 460px;
        }
    }

    .SecondSection {
        grid-template-columns: auto auto;
        height: 620px;
    }
}

/****** DESKTOP - 1025PX -> 1440px ******/

@media only screen and (1025px <= width <= 1440px) {
    .HeroSection {
        display: inline-grid;
        .TopSection {
            display: grid;
            grid-template-columns: auto auto;
            height: 556px;
            width: 1140px;
            margin: 0 auto;
            .LeftContent {
                height: 288px;
                .LeftContentText {
                    width: 457px;
                    h1 {
                        font-size: 56px;
                        font-weight: 900;
                        line-height: 60px;
                        letter-spacing: -1px;
                        padding-bottom: 24px;
                    }
                    h2 {
                        font-weight: 400;
                        font-size: 18px;
                        line-height: 28px;
                        padding-bottom: 40px;
                    }
                }
                .HeroCTASection {
                    display: flex;
                    align-items: center;
                    > p {
                        font-weight: 600;
                        font-size: 14px;
                        line-height: 20px;
                        padding-left: 20px;
                    }
                }
            }
        }
        .SummaryContent {
            height: 256px;
            .SummaryContentList {
                width: 1140px;
                margin: 0 auto;
                li > div {
                    padding-bottom: 16px;
                }
            }
        }
        .LeftContent,
        .RightContent {
            height: 460px;
        }
    }

    .SecondSection {
        grid-template-columns: auto auto;
        height: 620px;
    }
}

/****** TABLET (LARGE) - 745px --> 1024px ******/

@media only screen and (745px <= width <= 1024px) {
    .HeroSection {
        display: inline-grid;
    }

    .SecondSection {
        grid-template-rows: auto auto;
        height: 895px;
    }
}

/****** TABLET (SMALL) - 376px --> 744px ******/

@media only screen and (376px <= width <= 744px) {
    .HeroSection {
        display: inline-grid;
    }
}

@media only screen and (width <= 600px) {
    .HeaderNavLinks {
        display: none !important;
    }
}

/****** MOBILE - 0px -> 375px ******/

@media only screen and (width <= 375px) {
    .HeroSection {
        display: inline-grid;
    }
}