@use './mixins' as *;
@use './variables' as *;

/****** WIDE - 1440px+ ******/

@media only screen and (1441px <= width) {
    .SummaryContent {
        .SummaryContentList {
            padding: 64px 165px;
            flex-direction: row;
            li {
                width: 360px;
                list-style-type: none;
                align-items: flex-start;
                text-align: left;
                &:not(:last-child) {
                    padding-right: 46px;
                }
                p {
                    padding-top: 16px;
                }
            }
        }
    }
    .HeroCTASection {
        display: flex;
        align-items: center;
        p {
            padding-left: 20px;
        }
    }
    .TopSection {
        padding: 64px 0;
        gap: 115px;
        width: 1110px;
        align-items: center;
        .LeftContent > .LeftContentText {
            display: flex;
            flex-direction: column;
            h1 {
                font-weight: 900;
                font-size: 56px;
                line-height: 60px;
                letter-spacing: -1px;
            }
            h2 {
                padding-top: 24px;
                padding-bottom: 40px;
                @include HeroHeading2Typography;
            }
        }
        .RightContent {
            height: 428px;
            width: 100%;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: $BorderRadius;
            }
        }
    }
   .CTASection {
        height:588px;
        .CTAContent {
            width: 600px;
            h2 {
                font-size: 40px;
            }
        }
        img {
            height: 588px;
        }
   }

   .SecondSection {
        height: 620px;
        flex-direction: row;
        padding: 64px 0;
        gap: 133px;
        .LeftContent {
            height: 428px;
            border-radius: $BorderRadius;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: $BorderRadius;
            }
        }
        .RightContent {
            display: flex;
            flex-direction: column;
            width: 453px;
            gap: 16px;
            h2 {
                font-weight: 900;
                font-size: 24px;
                line-height: 32px;
                letter-spacing: -0.1px;
            }
            .RightContentSubSection {
                display: flex;
                flex-direction: column;
                gap: 16px;
                h3 {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                    letter-spacing: 0.1px;
                }
                ul {
                    list-style-type: none;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                    letter-spacing: 0.1px;
                    li{ 
                        &:not(:last-child) {
                        padding-bottom: 8px;
                        }
                    }
                }
            }
        }
    }
    .Footer {
        justify-content: space-around;
        padding: 96px 150px;
        .MiddleFooterColumn {
            display: flex;
            gap: 36px;
            .FooterMenuTitle {
                padding-bottom: 16px;
                font-weight: 700;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0.1px;
            }
        }
        .RightFooterColumn {
            display: flex;
            flex-direction: column;
            width: 360px;
            .SignUpInput {
                background-color: rgba(255, 255, 255, 0.15);
                border-radius: 40px;
                margin-top: 24px;
                margin-bottom: 20px;
                padding: 12px 24px;
                outline: none;
                border: none;
                background: $RaisinBlack url(../assets/icons/SendEmailIcon-Modified.svg) right no-repeat;
            }
            p {
                font-weight: 700;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0.1px;
                color: $White;
            }
            p:last-of-type {
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                text-align: center;
                color: $White;
                mix-blend-mode: normal;
                opacity: 0.4;
            }
        }
    }   
}

/****** DESKTOP - 1025PX -> 1440px ******/

@media only screen and (1025px <= width <= 1440px) {
    .SummaryContent {
        .SummaryContentList {
            padding: 64px 150px;
            flex-direction: row;
            li {
                width: 360px;
                list-style-type: none;
                align-items: flex-start;
                text-align: left;
                &:not(:last-child) {
                    padding-right: 30px;
                }
                p {
                    padding-top: 16px;
                }
            }
        }
    }

    .HeroCTASection {
        display: flex;
        align-items: center;
        p {
            padding-left: 20px;
        }
    }
    .TopSection {
        padding: 64px 165px;
        gap: 115px;
        align-items: center;
        .LeftContent > .LeftContentText {
            display: flex;
            flex-direction: column;
            h1 {
                font-weight: 900;
                font-size: 56px;
                line-height: 60px;
                letter-spacing: -1px;
            }
            h2 {
                padding-top: 24px;
                padding-bottom: 40px;
                @include HeroHeading2Typography;
            }
        }
        .RightContent {
            height: 428px;
            width: 100%;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: $BorderRadius;
            }
        }
    }
    .SecondSection {
        height: 620px;
        flex-direction: row;
        padding: 64px 150px;
        gap: 133px;
        .LeftContent {
            height: 428px;
            border-radius: $BorderRadius;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: $BorderRadius;
            }
        }
        .RightContent {
            display: flex;
            flex-direction: column;
            width: 453px;
            gap: 16px;
            h2 {
                font-weight: 900;
                font-size: 24px;
                line-height: 32px;
                letter-spacing: -0.1px;
            }
            .RightContentSubSection {
                display: flex;
                flex-direction: column;
                gap: 16px;
                h3 {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                    letter-spacing: 0.1px;
                }
                ul {
                    list-style-type: none;
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                    letter-spacing: 0.1px;
                    li{ 
                        &:not(:last-child) {
                        padding-bottom: 8px;
                        }
                    }
                }
            }
        }
    } 

    .CTASection {
        height:588px;
        .CTAContent {
            width: 600px;
            h2 {
                font-size: 40px;
            }
        }
        img {
            height: 588px;
        }
   }
   .Footer {
    justify-content: space-around;
    padding: 96px 150px;
    .MiddleFooterColumn {
        display: flex;
        gap: 36px;
        .FooterMenuTitle {
            padding-bottom: 16px;
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.1px;
        }
    }
    .RightFooterColumn {
        display: flex;
        flex-direction: column;
        width: 360px;
        .SignUpInput {
            background-color: rgba(255, 255, 255, 0.15);
            border-radius: 40px;
            margin-top: 24px;
            margin-bottom: 20px;
            padding: 12px 24px;
            outline: none;
            border: none;
            background: $RaisinBlack url(../assets/icons/SendEmailIcon-Modified.svg) right no-repeat;
        }
        p {
            font-weight: 700;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.1px;
            color: $White;
        }
        p:last-of-type {
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            text-align: center;
            color: $White;
            mix-blend-mode: normal;
            opacity: 0.4;
        }
    }
}
}

/****** TABLET (LARGE) - 745px --> 1024px ******/

@media only screen and (745px <= width <= 1024px) {
    .TopSection {
        flex-direction: column;
        padding: 32px;
        .LeftContent > .LeftContentText {
            display: flex;
            flex-direction: column;
            gap: 20px;
            align-items: center;
            .HeroCTASection {
                gap: 20px;
            }
        }
        .RightContent {
            width: 100%;
            height: 450px;
            padding-top: 68px;
            img {
                border-radius: $BorderRadius;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    .SummaryContent {
        .SummaryContentList {
            padding: 40px 32px;
            flex-direction: row;
            li {
                width: 278px;
                list-style-type: none;
                align-items: flex-start;
                text-align: left;
                &:not(:last-child) {
                    padding-right: 61px;
                }
                p {
                    padding-top: 16px;
                }
            }
        }
    }
    .LeftContent > .LeftContentText {
        h1 {
            font-weight: 900;
            font-size: 56px;
            line-height: 60px;
            letter-spacing: -1px;
            text-align: center;
        }
        h2 {
            @include HeroHeading2Typography;
            text-align: center;
        }
    }

    .SecondSection {
        height: 895px;
        flex-direction: column;
        height:100%;
        padding: 32px;
        gap: 64px;
        .LeftContent {
            height: 550px;
            border-radius: $BorderRadius;
            width: 100%;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: $BorderRadius;
            }
        }
        .RightContent {
            display: flex;
            flex-direction: row;
            h2 {
                display: flex;
                font-weight: 900;
                font-size: 24px;
                line-height: 32px;
                letter-spacing: -0.1px;
            }
            .RightContentSubSection {
                padding-left: 139px;
                display: flex;
                flex-direction: column;
                h3 {
                    padding-bottom: 16px;
                }
                h3, ul {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                    letter-spacing: 0.1px;
                    li {
                        &:not(:last-child) {
                            padding-bottom: 8px;
                        }
                    }
                }
            }
        }
    }

    .HeroCTASection {
        display: flex;
        align-items: center;
    }
    .CTASection {
        height:588px;
        .CTAContent {
            width: 600px;
            h2 {
                font-size: 40px;
            }
        }
        img {
            height: 588px;
        }
    }
    .Footer {
        display: flex;
        justify-content: space-around;
        padding: 45px 32px;
        /* .LeftFooterColumn {
            height: min-content;
            position: absolute;
            left: 105px;
        } */
        .MiddleFooterColumn {
            display: flex;
            gap: 45px;
        }
        .RightFooterColumn {
            display: flex;
            flex-direction: column;
            width: 240px;
            justify-content: flex-end;
            .SignUpInput {
                background-color: rgba(255, 255, 255, 0.15);
                border-radius: 40px;
                margin-top: 24px;
                margin-bottom: 20px;
                padding: 12px 24px;
                outline: none;
                border: none;
                background: $RaisinBlack url(../assets/icons/SendEmailIcon-Modified.svg) right no-repeat;
            }
            p {
                font-weight: 700;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0.1px;
                color: $White;
            }
            p:last-of-type {
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                text-align: center;
                color: $White;
                mix-blend-mode: normal;
                opacity: 0.4;
            }
        }
    }
}

/****** TABLET (SMALL) - 376px --> 744px ******/

@media only screen and (376px <= width <= 744px) {
    .TopSection {
        flex-direction: column;
        padding: 32px;
        .LeftContent > .LeftContentText {
            h1 {
                font-weight: 900;
                font-size: 56px;
                line-height: 60px;
                letter-spacing: -1px;
                text-align: center;
            }
            h2 {
                @include HeroHeading2Typography;
                text-align: center;
            }
        }
        .LeftContent > .LeftContentText {
            display: flex;
            flex-direction: column;
            gap: 20px;
            align-items: center;
            .HeroCTASection {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 16px;
            }
        }
        .RightContent {
            width: 100%;
            height: 499px;
            padding-top: 24px;
            img {
                border-radius: $BorderRadius;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
    .SecondSection {
        flex-direction: column;
        padding: 24px;
        .LeftContent {
            width: 100%;
            height: 550px;
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: $BorderRadius;
            }
        }
        .RightContent {
            display: flex;
            flex-direction: column;
            text-align: center;
            gap: 29px;
            padding-top: 29px;
            .RightContentSubSection {
                display: flex;
                flex-direction: column;
                gap: 29px;
            }
        }
    }
    .CTASection {
        height:500px;
        .CTAContent {
            width: fit-content;
            h2 {
                font-size: 40px;
            }
        }
        img {
            height: 500px;
        }
    }
    .Footer {
        display: flex;
        justify-content: space-around;
        padding: 45px 32px;
        /* .LeftFooterColumn {
            height: min-content;
            position: absolute;
            left: 105px;
        } */
        .MiddleFooterColumn {
            display: flex;
            gap: 45px;
        }
        .RightFooterColumn {
            display: flex;
            flex-direction: column;
            width: 240px;
            justify-content: flex-end;
            .SignUpInput {
                background-color: rgba(255, 255, 255, 0.15);
                border-radius: 40px;
                margin-top: 24px;
                margin-bottom: 20px;
                padding: 12px 24px;
                outline: none;
                border: none;
                background: $RaisinBlack url(../assets/icons/SendEmailIcon-Modified.svg) right no-repeat;
            }
            p {
                font-weight: 700;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0.1px;
                color: $White;
            }
            p:last-of-type {
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                text-align: center;
                color: $White;
                mix-blend-mode: normal;
                opacity: 0.4;
            }
        }
    }
}

.SummaryContentList {
    flex-direction: column;
    padding: 0 24px;
    li {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 24px 0;
        div {
            font-weight: 700;
            font-size: 18px;
            line-height: 28px;
            padding-bottom: 10px;
        }
        p {
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.1px;
        }
    }
}

.SummaryContentList {
    flex-direction: column;
    padding: 0 24px;
    li {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 24px 0;
        div {
            font-weight: 700;
            font-size: 18px;
            line-height: 28px;
            padding-bottom: 10px;
        }
        p {
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0.1px;
        }
    }
}

@media only screen and (width <= 600px) {
    .Footer {
        background-color: $Black;
        color: $White;
        display: flex;
        flex-direction: column;
        padding: 50px 30px;
        align-items: center;
        .LeftFooterColumn {
            padding-bottom: 20px;
        }
        .MiddleFooterColumn {
            display: flex;
            justify-content: space-between;
            width: 315px;
            .FooterMenu {
                display: flex;
                flex-direction: column;
                flex: 1 1 0px;
                align-items: center;
                list-style-type: none;
                text-align: center;
                .FooterMenuTitle {
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 24px;
                    text-align: center;
                    letter-spacing: 0.1px;
                    padding-bottom: 16px;
                    width: min-content;
                }
            }
        }
        .RightFooterColumn {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            width: 315px;
            .SignUpInput {
                background-color: rgba(255, 255, 255, 0.15);
                border-radius: 40px;
                margin-top: 24px;
                margin-bottom: 20px;
                padding: 12px 24px;
                outline: none;
                border: none;
                background: $RaisinBlack url(../assets/icons/SendEmailIcon-Modified.svg) right no-repeat;
            }
            p {
                font-weight: 700;
                font-size: 16px;
                line-height: 24px;
                letter-spacing: 0.1px;
                color: $White;
            }
            p:last-of-type {
                font-weight: 400;
                font-size: 14px;
                line-height: 20px;
                text-align: center;
                color: $White;
                mix-blend-mode: normal;
                opacity: 0.4;
            }
        }
    }
}

/****** MOBILE - 0px -> 375px ******/

@media only screen and (width <= 375px) {
    .HeroSection {
        display: flex;
        flex-direction: column;
        .TopSection {
            display: flex;
            flex-direction: column;
            padding: 24px;
            .LeftContent {
                display: flex;
                flex-direction: column;
                    .LeftContentText {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                    h1 {
                        text-align: center;
                        font-size: 40px;
                        font-weight: 900;
                        line-height: 48px;
                        letter-spacing: -1px;
                        padding-bottom: 24px;
                    }
                    h2 {
                        @include HeroHeading2Typography;
                        text-align: center;
                    }
                    .HeroCTASection {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        gap: 16px;
                        p {
                            font-weight: 600;
                            font-size: 14px;
                            line-height: 28px;
                            padding-top: 16px;
                            padding-bottom: 24px;
                        }
                    }
                }
            }
            .RightContent {
                display: flex;
                width: 100%;
                height: 309px;
                padding-top: 24px;
                img {
                    border-radius: $BorderRadius;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
        .SummaryContentList {
            flex-direction: column;
            padding: 0 24px;
            li {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
                padding: 24px 0;
                div {
                    font-weight: 700;
                    font-size: 18px;
                    line-height: 28px;
                    padding-bottom: 10px;
                }
                p {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 24px;
                    letter-spacing: 0.1px;
                }
            }
        }
    }

    .SecondSection {
        padding: 24px;
        display: flex;
        flex-direction: column;
        align-items: center;
        .LeftContent {
            width: 100%;
            img {
                width: 100%;
                height: 195px;
                object-fit: cover;
            }
        }
        .RightContent {
            text-align: center;
            h2 {
                font-weight: 900;
                font-size: 16px;
                line-height: 32px;
                letter-spacing: -0.1px;
                padding: 14px 0;
            }
            h3 {
                font-weight: 400;
                font-size: 14px;
                line-height: 24px;
                text-align: center;
                letter-spacing: 0.1px;
                padding-bottom: 14px;
            }
            ul {
                font-weight: 400;
                font-size: 14px;
                line-height: 24px;
                letter-spacing: 0.1px;
            }
            &:first-child {
                display: none;
            }
        }
    }

    .CTASection {
        height:500px;
        .CTAContent {
            width: 247px;
            h2 {
                font-size: 28px;
            }
        }
        img {
            height: 500px;
        }
    }
}

@for $i from 1 to 5 {
    .FooterItem-#{$i} {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
    }
}

@for $i from 2 to 5 {
    .FooterItem-#{$i} {
        padding-top: 8px    
    }
}