@use '../_partials/variables' as *;

/****** INTER - REGULAR 400 ******/

@font-face {
    font-family: 'Inter';
    font-weight: 400;
    font-style: normal;
    src:    url('../assets/fonts/Inter-Regular.woff'), format('woff'),
            url('../assets/fonts/Inter-Regular.woff2'), format('woff2');
    font-display: swap;
}

/****** INTER - MEDIUM 500 ******/

@font-face {
    font-family: 'Inter';
    font-weight: 500;
    font-style: normal;
    src:    url('../assets/fonts/Inter-Medium.woff'), format('woff'),
            url('../assets/fonts/Inter-Medium.woff2'), format('woff2');
    font-display: swap;
}

/****** INTER - SEMIBOLD 600 ******/

@font-face {
    font-family: 'Inter';
    font-weight: 600;
    font-style: normal;
    src:    url('../assets/fonts/Inter-SemiBold.woff'), format('woff'),
            url('../assets/fonts/Inter-SemiBold.woff2'), format('woff2');
    font-display: swap;
}

/****** INTER - BOLD 700 ******/

@font-face {
    font-family: 'Inter';
    font-weight: 700;
    font-style: normal;
    src:    url('../assets/fonts/Inter-Bold.woff'), format('woff'),
            url('../assets/fonts/Inter-Bold.woff2'), format('woff2');
    font-display: swap;
}

/****** INTER - BLACK 900 ******/

@font-face {
    font-family: 'Inter';
    font-weight: 900;
    font-style: normal;
    src:    url('../assets/fonts/Inter-Black.woff'), format('woff'),
            url('../assets/fonts/Inter-Black.woff2'), format('woff2');
    font-display: swap;
}

/****** STYLES ******/

#root {
    font-family: 'Inter', Arial, sans-serif;
}