/****** COLORS ******/

$Black: #000000;
$RaisinBlack: #262626;
$AntiFlashWhite: #f3f3f3;
$White: #ffffff;

/****** SHAPES ******/

$BorderRadius: 12px;

/****** TRANSITIONS ******/

$Transition-03: all 0.3s ease-in;