@use '../_partials/variables' as *;

.MainContainer {
    display: grid;
}

.SummaryContent {
    background-color: $AntiFlashWhite;
    .SummaryContentList {
        display: flex;
        padding: 64px 0px;
        justify-content: center;
        div {
            flex-direction: row;
            display: flex;
            align-items: center;
            .FeaturePoint {
                display: grid;
                height: 40px;
                width: 40px;
                border-radius: 20px;
                background-color: $Black;
            }
            h3 {
                margin-left: 16px;
            }
        }
    }
}

.SecondSection {
    display: grid;
    background-color: $Black;
    .RightContent {
        color: $White;
    }
}

.HeroImage,
.SecondSectionImage {
    height: auto;
    width: 100%;
}


.TestimonialsSection {
    height: 500px;
    background-color: $AntiFlashWhite;
}

.CTASection {
    height: 588px;
    .CTAImage {
        height: 100%;
        object-fit: cover;
        width: 100%;
    }
}
