@use '../_partials/variables' as *;

.HeroSection {
    flex-direction: column;
}

.HeroCTASection > p {
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    align-items: center;
}

.TopSection {
    display: flex;
}

.MainContainer {
    display: flex;
    flex-direction: column;
    .HeroSection,
    .SecondSection,
    .TestimonialsSection,
    .CTASection {
        display: flex;
        align-items: center;
        justify-content: center;
        .CTAContent {
            display: flex;
            flex-direction: column;
            align-items: center;
            color: $White;
            p {
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                text-align: center;
                letter-spacing: 0.1px;
            }
            h2 {
                padding-top: 12px;
                padding-bottom: 32px;
                font-weight: 900;
                line-height: 48px;
                letter-spacing: -0.5px;
                text-align: center;
            }
        }
    }
}

.SummaryContent {
    background-color: $AntiFlashWhite;
    width: 100%;
    .SummaryContentList {
        display: flex;
        justify-content: center;
        div {
            flex-direction: row;
            display: flex;
            align-items: center;
            .FeaturePoint {
                display: flex;
                align-items: center;
                height: 40px;
                width: 40px;
                border-radius: 20px;
                background-color: $Black;
            }
            h3 {
                margin-left: 16px;
            }
        }
    }
}

.SecondSection {
    background-color: $Black;
    .RightContent {
        color: $White;
    }
}

.HeroImage,
.SecondSectionImage {
    height: auto;
    width: 100%;
    border-radius: 12px;
}


.TestimonialsSection {
    height: 500px;
    background-color: $AntiFlashWhite;
}

.CTASection {
    width: 100%;
    height: 100%;
    .CTAImage {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .CTAContent {
        position: absolute;
    }
}
