@use '../_partials/variables' as *;

.CTAButton {
    background: none;
    border: none;
    font-weight: 700;
    font-size: 16px;
    width: 100px;
    height: 48px;
    border-radius: 32px;
}

.CTAButton-Dark {
    @extend .CTAButton;
    background-color: $Black;
    color: $White;
}

.CTAButton-Light {
    @extend .CTAButton;
    background-color: $White;
    color: $Black;
}