.Header {
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-content: space-between;
    padding: 17px 32px;
    height: 96px;
    nav > .HeaderNavLinks {
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        list-style-type: none;
        gap: 24px;
        font-weight: 500;
        font-size: 16px;
    }
}