@use '../_partials/variables' as *;

.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 34px 32px;
    nav {
        display: flex;
        .HeaderNavLinks {
            display: flex;
            list-style-type: none;
            li {
                padding-inline: 12px;
                a {
                    text-decoration: none;
                    color: $Black;
                    cursor: pointer;
                }
            }
        }
    }
}

.NavbarToggle {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    outline: none;
    border: none;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    cursor: pointer;
    .ToggleLine {
        width: 15px;
        height: 1px;
        background-color: white;
    }
}