.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 34px 32px;
    nav {
        display: flex;
        .HeaderNavLinks {
            display: flex;
            list-style-type: none;
            li {
                padding-inline: 12px;
            }
        }
    }
}